.main {
  width: 100%;
  height: 100vh;
  position: relative;
  overflow: hidden;
  background: linear-gradient(to right, #9c27b9, #8ecdff);
}
.ajay {
  background: linear-gradient(to right, #9c27b9, #8ecdff);
}
nav {
  width: 80%;
  position: sticky;
  margin: 20px auto;
  z-index: 1;
  display: flex;
  align-items: center;
}
.logo {
  flex-basis: 20%;
}
.logo img {
  width: 80px;
}
.nav-link {
  flex: 1;
  text-align: right;
}
.nav-link ul li {
  list-style: none;
  display: inline-block;
  margin: 0 20px;
}
.nav-link ul li a {
  color: rgb(248, 241, 241);
  text-decoration: none;
}
.mainpic {
  width: 200px;
  height: 200px;
}
.info {
  width: 1000px;
  height: 1000px;
  position: absolute;
  top: 50%;
  left: -10%;
  transform: translateY(-50%);
}
#cri {
  width: 800px;
  height: 1000px;
  position: absolute;
  top: 0%;
  left: 0%;
  border-radius: 50%;
  transform: rotate(0deg);
  transition: 15;
}
.item img {
  width: 100px;
}
.item {
  position: absolute;
  display: flex;
  color: white;
}
.item div {
  margin-left: 30px;
}
.one {
  top: 46%;
  right: 74%;
  transform: rotate(-180deg);
}
.two {
  top: 46%;
  left: 78%;
}
.three {
  top: 15%;
  left: 38%;
  transform: rotate(-90deg);
}
.four {
  bottom: 10%;
  right: 38%;
  transform: rotate(-270deg);
}
.akash {
  top: 46%;
  left: 34%;
}
.mm {
  width: 200px;
  position: absolute;
  top: 46%;
  left: 34%;
  transform: translateY(-50%s);
}
.a1 {
  width: 220px;
  position: absolute;
  top: 55%;
  left: 30%;
  transform: translateY(-50%s);
}
.a2 {
  width: 220px;
  position: absolute;
  top: 41%;
  left: 0%;
  transform: translateY(-50%s);
}
.a3 {
  width: 220px;
  position: absolute;
  top: 0%;
  left: 30%;
  transform: translateY(-50%s);
}
.controls {
  position: absolute;
  right: 10%;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
}
.controls h3 {
  margin: 15px 0;
  color: #fff;
}
#up {
  width: 15px;
  cursor: pointer;
}
#down {
  width: 15px;
  cursor: pointer;
  transform: rotate(180deg);
}
.dontshow {
  width: 0;
  height: 0;
  border-top: 500px solid #fff;
  border-right: 500px solid red;
  border-bottom: 500px solid #fff;
  border-left: 500px solid #fff;
}

.m1 {
  left: 50%;
}
.ak1 {
  margin: auto;
  width: 100px;
  height: 100px;
  object-fit: cover;
}
.cr {
  left: 30%;
  position: center;
  align-items: center;
}
.aj {
  cursor: pointer;
  letter-spacing: 2px;
}
.aj:hover {
  letter-spacing: 4px;
}
#popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
  background: #fff;
  width: 230px;
  height: 150px;
  padding: 80px, 50px, 50px;
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.08);
  transition: 0.5s;
  visibility: hidden;
}
#popup.active {
  visibility: visible;
  top: 50%;
}
#popup .contents {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  flex-direction: column;
}
#popup .contents .input {
  position: relative;
  width: 100%;
  margin-top: 20px;
  margin-left: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#popup .contents .aq {
  position: relative;
  width: 100%;
  margin-top: 20px;
  margin-left: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

i {
  size: 1rem;
  color: black;
  font-size: 10%;
}
